<h1>Schedule a ride</h1>
<%= form_tag "/patients/#{@patient_id}/rides", method: :post do %>
	<div class="form-group">
		<%= label_tag :hospital_section %>
		<%= text_field_tag :hospital_section, '', class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag :pickup_time %>
		<%= datetime_local_field_tag :pickup_time, '', class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag :arrival_time %>
		<%= datetime_local_field_tag :arrival_time, '', class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= submit_tag %>
	</div>
<% end %>